<div id="slider_proj_2" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 70%">
        <img src="../img/projects/08.webp">
        <div>
          <a href="https://www.percevite.org">Sense and Avoid</a> for small drones ©MAVLab
        </div>
      </li>
      
      <li class="splide__slide" style="width: 80%">
        <img src="../img/projects/09.webp">
        <div>
          Outdoor <a href="https://github.com/tudelft/paparazzi/tree/percevite_wifi">flights</a> on Paparazzi Autopilot ©MAVLab
        </div>
      </li>
      
      <li class="splide__slide" style="width: 40%">
        <img src="https://raw.githubusercontent.com/nilay994/trytime/master/velobs/2-5-slowpoke.gif">
        <div>
          HiL <a href="https://github.com/nilay994/velobs/blob/master/nps-paparazzi/README.md">simulations</a> of conflict resolutions ©MAVLab
        </div>
      </li>
    </ul>
  </div>
</div>