<div id="slider_proj_6" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/51.webp"><div>Lego Porsche ready for assembly</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/52.webp"><div>Drivetrain</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/53.webp"><div>Chassis</div></li>
      <li class="splide__slide" style="width: 50%"><img src="../img/projects/54.webp"><div>Powered by esp32? why not</div></li>
      <li class="splide__slide" style="width: 22%"><img src="../img/projects/55.webp"><div>arduino-clone kicad</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/56.webp"><div>MIT Media Labs, Imaging Experiences track</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/57.webp"><div>MIT Media Labs, ideation of Pano-band</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/58.webp"><div><a href="https://www.youtube.com/watch?v=V2vUxHSrBw0" target="_blank" rel="noopener noreferrer">Wrist watch multimeter</a> at Texas Instruments Challenge</div></li>
      <li class="splide__slide" style="width: 50%"><img src="../img/projects/59.webp"><div>An old self-parking car prototype</div></li>
      <li class="splide__slide" style="width: 30%"><img src="../img/projects/60.webp"><div>Grid-solving robot</div></li>
    </ul>
  </div>
</div>