<div id="slider_proj_3" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 50%"><img src="../img/projects/33.webp"><div>ESP32 during HMI development</div></li>
      <li class="splide__slide" style="width: 42%"><img src="../img/projects/34.webp"><div>ESP32 connected to AWS</div></li>
      <li class="splide__slide" style="width: 32%"><img src="../img/projects/35.webp"><div>DevKit ©Espressif</div></li>
    </ul>
  </div>
</div>
