<div id="slider_proj_5" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/43.webp"><div>Our robots getting ready for a match ©SRA, VJTI</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/41.webp"><div>Start of the international league</div></li>
      <li class="splide__slide" style="width: 55%"><img src="../img/projects/42.webp"><div>Panasonic Award for innovation</div></li>
    </ul>
  </div>
</div>