<div id="slider_proj_4" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 50%"><img src="../img/projects/15.webp"><div>Drivetrain with NI RoboRio ©FRC6024</div></li>
      <li class="splide__slide" style="width: 40%"><img src="../img/projects/16.webp"><div>Robots at Sydney Olympic Park ©FRC6024</div></li>
      <li class="splide__slide" style="width: 40%"><img src="../img/projects/17.webp"><div>Team picture!</div></li>
    </ul>
  </div>
</div>
