<div id="slider_proj_7" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/71.webp"><div>Terberg yard tractor running on zepp's 50 kW system</div></li>
      <li class="splide__slide" style="width: 50%"><img src="../img/projects/72.webp"><div>zepp solutions's 50 kW and 150 kW hydrogen fuel cell systems</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/73.webp"><div>Inspecting a H2 concentration sensor</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/74.webp"><div>Software development phase</div></li>
      <li class="splide__slide" style="width: 35%"><img src="../img/projects/75.webp"><div>Validation phase</div></li>
    </ul>
  </div>
</div>
