<div id="slider_proj_1" class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide" style="width: 50%">
        <img src="../img/projects/01.webp">
        <div>
          <a href="https://www.tudelft.nl/en/2019/tu-delft/mavlab-world-champion-in-airr-autonomous-drone-race-2019/" target="_blank" rel="noopener noreferrer">
          We</a>
          are the champions! © DRL
        </div>
      </li>

      <li class="splide__slide" style="width: 50%">
        <img src="../img/projects/02.webp">
        <div>
          At work
        </div>
      </li>

      <li class="splide__slide" style="width: 50%">
        <img src="../img/projects/03.webp">
        <div>AIRR <a href="https://markets.businessinsider.com/news/stocks/lockheed-martin-drone-racing-league-announce-a-i-robotic-racing-circuit-champions-give-team-1-million-cash-prize-for-fastest-autonomous-racing-drone-1028747953#" target="_blank" rel="noopener noreferrer">
          trophy</a>
        </div>
      </li>
      
      <li class="splide__slide" style="width: 50%">
        <img src="../img/projects/04.webp">
        <div>
          Race track at Washington DC ©DRL
        </div>
      </li>
      
      <li class="splide__slide" style="width: 38%">
        <img src="../img/projects/05.webp">
        <div>
          HIL setup © DRL
        </div>
      </li>
    </ul>
  </div>
</div>
